*.pyc
.DS_Store
/.venv/
/apps/*
/*/settings/local.py
/static/
/media/
/.vagrant/
Vagrantfile
Vagrantfile.local
vagrant
*.box
/docs/_build/
/db.sqlite3
/apps/
/deps/
.sass-cache
node_modules
/scripts/configure_project.sh
/scripts/vagrant_provision.sh
marineplanner/marineplanner/urls.py

htmlcov
.idea
.coverage
config.ini
marco.db

.bashrc
dev_fixture.json

/*/project_settings.py
marineplanner/marineplanner/project_settings.py

#ignore files created by new installation
env/
marineplanner/marineplanner/settings.py
marineplanner/static/
scripts/ubuntu-xenial-16.04-cloudimg-console.log
