ipython
ipdb
django
psycopg2
django-compressor

# FOR MP-VISUALIZE
# -e /usr/local/apps/marineplanner-core/apps/mp-visualize
#
#
## FOR MADRONA-FEATURES
## -e /usr/local/apps/marineplanner-core/apps/madrona-features
##   Be sure the grab the py3 branch if running python3
##
### FOR P97-NURSERY
### -e /usr/local/apps/marineplanner-core/apps/p97-nursery
###
### FOR MADRONA-MANIPULATORS
### sqlparse
### -e /usr/local/apps/marineplanner-core/apps/madrona-manipulators

## FOR MARCO-MAP_GROUPS
## -e /usr/local/apps/marineplanner-core/apps/marco-map_groups
##
## FOR MP-DATA-MANAGER
## django-import-export
## -e /usr/local/apps/marineplanner-core/apps/mp-data-manager
